<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Document</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/fix-nationality-feedback/styles.css">
    </head>
    <body>
        <div class="background">
            <div class="intro-content">
                <h1>Thank you for your Feedback!</h1>
                <h4>Your contributions will help make better predictions. Thank you.</h4>
                <div id="homepage-button-container">
                    <a id="homepage-button" class="button" href="/">Back to the Home Page</a>
                </div>
            </div>
        </div>
    </body>
</html>