<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nationality from Name</title>
</head>
<body>
    <h1>{{name}} is most likely from {{most_probable_country}}</h1>

    <table>
        {% for probability, country in predictions %}
            <tr>
                <th>{{country}}</th>
                <td>{{probability}}</td>
            </tr>
        {% endfor %}
    </table>

    <h1>Wrong prediction? Enter the correct country below</h1>
    <form action="/nationality" method="POST">
        <input id="country-textbox" name="country" type="text"><br>
        <input name="name" type="hidden" value="{{name}}"><br>
        <input id="submit-button" type="submit" value="Predict Nationality">
    </form>
</body>
</html>