<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="/static/home/styles.css">
    
    <title>Predict Nationality of a Name</title>
</head>
<body>
    <div id="search-for-name-container">
        <h1>Predict the nationality of a name!</h1>
        <form action="/nationality">
            <input id="name-textbox" type="text" name="name" placeholder="Enter a full name here"><br>
            <input id="submit-button" type="submit" value="Predict Nationality">
        </form>
    </div>
</body>
</html>